@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-200;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbar for Trace */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 20px;
}